# Ignore common system files
.DS_Store
Thumbs.db

# Ignore node modules and logs
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Git files
.git
.gitignore

# Ignore oldSrc folder
oldSrc

# Ignore development-related files
.editorconfig
.eslintcache
.eslintrc
.prettierignore
.prettierrc

# Ignore test files
**/__tests__/
**/*.test.*
**/*.spec.*