body {
  margin: 1rem;
  height: 100%;
}
html {
  height: 100%;
}

.formContainer {
  width: 50%;
}

#error-page {
  width: calc(100vw - 50px);
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#error-page > p,
#error-page > h1 {
  margin: 1rem 0;
}
.content {
  margin-left: 250px;
  padding: 20px;
  min-height: 100vh;
}

@media (max-width: 767.98px) {
  .content {
    margin-left: 0;
  }
}
h1 {
  text-align: center;
  margin-bottom: 30px;
}
